/* source-sans-3-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-3-v15-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/source-sans-3-v15-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-sans-3-v15-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  html{
    box-sizing: border-box;
  }
  *,*::before,*::after{
    box-sizing: inherit;
  }
  
  body{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-size: 16px;
    /* line-height: 19.2px; */
    font-weight: normal;
    color: #333333;
    
  }
  header{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-size: 16px;
    /* line-height: 19.2px; */
    font-weight: normal;
    color: #333333;
    /* position: fixed; */
    top: 35px;
    left: 0;
    width: 100%;
  }
  /*контейнер для рамки внутри сайта*/
  .wrapper{
    max-width: 1180px;
    margin: 0 auto;
  }

  .header__first-layer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  .header__contacts{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  .header_menu{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  .header__line {
      height: 1px;
      margin-top: 32px;

  }

  .header__list{
    display: flex;
    flex-wrap: wrap;
  }
  .header__item{
    margin-right: 44px;
  }
  .header__item:last-child{
    margin-right: 0;
    margin-left: auto;
  }
  
  .header__link{
    font-size: 16px;
    line-height: 19.2px;
    text-align: left;
    color: #333333;
    text-decoration: none;
  }
  
  .header__contact-link{
    font-size: 20px;
    font-weight: 600;
    line-height: 28.48px;
    text-align: right;
    color: #607CE6;
  }
  .header__contact{
    text-align: right;
    margin-left: 45px;
  }
  .main_title{
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    max-width: 580px;
  }
  .second_title{
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      text-align: left;
      padding-bottom: 32px;
  }
  /* main text прописан в body */
  /* .main_text{
    font-size: 16px;
    font-weight: normal;
    line-height: 19.2px;
    text-align: left;    
  } */
  .second_text{
    font-size: 14px;
    line-height: 16.8px;
    text-align: right;
    color: #333333;
  }
  .hero_main_text{
    max-width: 379px;
    padding-top: 26px;
  }
  .text_hero{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
  }
  .hero,.about{
    padding-top: 80px;
  }
  .about-texts{
    display:flex;
    flex-wrap: wrap;
    
  }
  .about-text{
    max-width: 580px;
  }
